.setup-content {
    margin-top: 6rem;
    padding: 1rem;
    height: 71%;
    overflow: hidden;
  }

.setup-wrapper{
  height: 100%;
  overflow: hidden;
  }

.modal-content{
  background-color: #f8f8f8;
  }

.radio{
    width: fit-content;
  }